body {
    background-color: #1f4690;
    text-align: center;
}

#title {
    font-size: 5em;
    color: white;
    margin-left: 0px;
}
p {
    color: #faf1d2;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 20px;
}




#c {
    background-color: white;
    outline: #FFA500 10px solid;
}


.color_button {
    border: none;
    font-family: 'Times New Roman', Times, serif;
    width: 70px;
    height: 70px;
    font-weight: normal;
    font-size: 1.3em;
    background-color: pink;
    border-radius: 50%;
}


.color_button:hover{
    font-weight: bold;
    border-style: outset;
    outline: white 3px solid; /*change to pretty color*/
}

.color_button:focus{
    outline: white 3px solid;
}

#red_button {
    background-color: red;
}

#orange_button {
    background-color: orange;
}

#yellow_button {
    background-color: yellow;
}

#green_button {
    background-color: green;
}

#blue_button {
    background-color: blue;
}

#purple_button {
    background-color: purple;
}

#brown_button {
    background-color: #8b4513;
}

#black_button {
    background-color: black;
}

#white_button {
    background-color: white;
}

#pink_button {
    background-color: pink;
}

#gray_button {
    background-color: gray;
}

#instructions_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#instructions {
    font-family:'Times New Roman', Times, serif;
    color: #faf1d2;
    text-align: left;
    /*margin: auto;*/
    width: auto;
    
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#logo {
    margin-bottom: 20px;
}