<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
		<!-- <script src="{{url_for('static', filename='canvas.js')}}"></script>  -->
		<title>ZotDots</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon2.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <p id="title">ZotDots</p>
        <form action="whatis" method="post">
            {% for message in get_flashed_messages()%}
                <p> {{message}} </p>
            {% endfor %}
            <!-- <br>
            <input type="text" name="verb_input">
            <br>
            <input type="submit" value="Answer Me" id="answerme">
            <br> -->
        </form>
        <canvas id="c" height="500" width="500"></canvas>
        
        <script src="{{url_for('static', filename='canvas.js')}}"></script> 
		<br>
        <br>
        <div>
            <input type="submit" value="" id="red_button"     class="color_button" onclick="changeColor('red')">
            <input type="submit" value="" id="orange_button"  class="color_button" onclick="changeColor('orange')">
            <input type="submit" value="" id="yellow_button"  class="color_button" onclick="changeColor('yellow')">
            <input type="submit" value="" id="green_button"   class="color_button" onclick="changeColor('green')">
            <input type="submit" value="" id="blue_button"    class="color_button" onclick="changeColor('blue')">
            <input type="submit" value="" id="purple_button"  class="color_button" onclick="changeColor('purple')">
            <input type="submit" value="" id="pink_button"    class="color_button" onclick="changeColor('pink')">
            <input type="submit" value="" id="brown_button"   class="color_button" onclick="changeColor('saddlebrown')">
            <input type="submit" value="" id="black_button"   class="color_button" onclick="changeColor('black')">
            <input type="submit" value="" id="white_button"   class="color_button" onclick="changeColor('white')">
            <input type="submit" value="" id="gray_button"    class="color_button" onclick="changeColor('gray')">
        </div>

    </body>
</html>